{{ define "main" }}
<div class="container listing_page py-5">
  {{ range .Paginator.Pages }}
    <article class="sec_3_1 mt-md-4">
      <div class="title_wrapper">
        <div> <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5></div>
        <div> <span>{{ .Description }}</span></div>
        <div> <span>{{ .PublishDate.Format "January 2, 2006" }}</span></div>
      </div>
      
      <div class="desc_all_list">{{ .Description }}</div>
      
    </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
<div class="clearfix"></div>
{{ end }}