<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">© 2021 Navy Linux Project. All rights reserved.</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-right">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{{ "/" | absURL }}">Start</a></li>
          <li class="list-inline-item"><a href="{{ "docs/prologue/introduction/" | absURL }}">Docs</a></li>
          <li class="list-inline-item"><a href="{{ "/blog/" | absURL }}">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>