<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="order-last order-lg-first">
        Sponsors: <br><br>
        &nbsp;<a href="https://www.siteage.net/" target="_blank"><img src="/images/siteage-300.png" width="150"></a>
        &nbsp;<a href="https://mozemo.net/" target="_blank"><img src="/images/mozemo-300.png" width="150"></a>
        &nbsp;<a href="https://hackernoon.com/" target="_blank"><img src="/images/hackernoon.png" width="300"></a>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.copyright }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-right">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{{ .Site.Params.socialmedia.slack | absURL }}">Slack</a></li>
          <li class="list-inline-item"><a href="{{ .Site.Params.socialmedia.twitter | absURL }}">Twitter</a></li>
          <li class="list-inline-item"><a href="{{ .Site.Params.socialmedia.facebook | absURL }}">Facebook</a></li>
          <li class="list-inline-item"><a href="{{ .Site.Params.socialmedia.linkedin | absURL }}">Linkedin</a></li>
          <li class="list-inline-item"><a href="{{ .Site.Params.socialmedia.github | absURL }}">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>