{{ define "main" }}
<div class="banner">
	<div class="overlay"></div>
	<div class="container pb-md-5 pt-md-5">
		<section class="section_r pb-md-3 ">
		   <div class="mt-4 mb-3 d-flex"> <!--justify-content-center -->
		    <div class="flex-60">
		      <!-- <h1 class="mt-0">{{ .Title }}</h1> -->
		       <h1 class="mt-0">Navy Linux</h1>
		       <!-- <p class="lead">{{ .Params.Lead | safeHTML }}</p> -->
		        <p class="lead">Navy Linux is a rebuild of the Red Hat Linux project just as the CentOS Linux project has been for all these years.</p>
		      <a class="btn btn-primary btn-sm px-5 mb-2 btn_bg " href="/download/" role="button">Download Navy</a>
		      <div class="note mt-2">See also <a href="{{ .Site.Params.socialmedia.faqs | absURL }}" target="_blank">Frequently Asked Questions</a></div>
		    </div>
		    <div class="text-right flex-40">
		     	<!-- <img src="/images/navy-linux-logo-navy.png" height="" width="70%"> -->
		    </div>
		  </div>
		</section>
	</div>
</div>
<div class="main_content">
	<div class="section_1">
		<div class="container">
			<p> Navy Linux x86_64 8.4 Beta Released: Thursday, 1 July 2021 </p>
		</div>
	</div>
	<div class="section_2">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12 col-sm-6 py-4 mob-center">
					<img class="logo_blue" src="/images/logo-blue.png" height="" width="190px">
				</div>
				<div class="col-md-13 col-sm-6 col-xs-12">
					<h3>Why Navy ?</h3>
					<p>Navy Linux and The Navy Linux Project is an on-going community project founded by Navy Foundation on January 4, 2021. The project aims to offer a minimalistic installation of the Linux operating system. Navy Linux is based on Redhat Enterprise Linux and shall always remain open to the community.</p>

					<p> We promise the same experience that was the hallmark of the Minimal CentOS Linux </p>
					<!-- <mark class="">Navy Linux is always Open for anyone. <br>It is built and used by experts across the globe who work together as a community.</mark> -->
				</div>
			</div>
		</div>
	</div>
		<div class="section_3">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="sec_3_1">
						<h5>Website Source code </h5>
						<p class="">The Navy Linux Web Site Repository  <a href="https://git.navylinux.org/website/navylinux-org">  link</a></p>

					</div>

				</div>
				<div class="col">
					<div class="sec_3_1">
						<h5>Navy Linux Infrastructure </h5>
						<p class="">Document everything related to the project's infrastructure.
						<a href="{{ .Site.Params.socialmedia.infrastructure | absURL }}"> link </a>
						 <!-- <a href="https://git.navylinux.org/infrastructure/infrastructure">  link</a></p> -->

					</div>

				</div>
			</div>
			<div class="row mt-md-4">
				<div class="col">
					<div class="sec_3_2">
						<h5>Packaging</h5>
						<p>Source code for Navy packaged software found <a class="click_here" href="https://git.navylinux.org/packaging"> link </a>
						</p>
					</div>

				</div>
				<div class="col">
					<div class="sec_3_2">
						<h5>Issue Tracker:</h5>
						<p>Here open an issue or ask any questions about the Navy.  <a class="click_here" href="https://git.navylinux.org/issue-tracker/general/-/issues"> link </a>
						</p>
					</div>
				</div>
			</div>
			<div class="row mt-md-4">
				<div class="col">
				<div class="sec_3_2">
						<h5>Installer</h5>
						<p>Repositories related to the Navy Linux installer (Anaconda)  <a class="click_here" href="https://git.navylinux.org/installer"> link </a>
						</p>
					</div>

				</div>
				<div class="col">
					<div class="sec_3_2">
						<h5>Branding</h5>
						<p>Repositories related to Navy Linux branding  <a class="click_here" href="https://git.navylinux.org/branding"> link </a>
						</p>
					</div>

				</div>
			</div>
			<div class="row mt-md-4">
				<div class="col">
					<div class="sec_3_1">
						<h5>SELR: Stable Enterprise</h5>
						<p class="">SELR an alternative to EPEL <a href="https://git.navylinux.org/selr/selr">  link</a></p>

					</div>
				</div>
				<div class="col">
					<div class="sec_3_2">
						<h5>How can I contribute?</h5>
						<p>The Navy is always looking for interested folks to help out.
						<a href="{{ .Site.Params.socialmedia.contribute | absURL }}"> link </a>
						 <!-- <a class="click_here" href="https://git.navylinux.org/selr/selr"> link </a> -->
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
