
<header class=" fixed-top navbar-expand-md navbar-light bg-header">
<!-- <link rel="stylesheet" type="text/css" href="../fonts/fontawesome.min.css"> -->


  <div class="container top-header navbar py-0 px-4">
    <!--  <div><label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label></div> -->
    <!-- lineAwesome font -->
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <script src="https://unpkg.com/lunr/lunr.js"></script>
     <!--line-awesome  -->
<!-- <link href="{{ .Site.Params.socialmedia.lineawesome | absURL }}/line-awesome.min.css" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <script type="text/javascript" src="{{ .Site.Params.socialmedia.jquery | absURL }}jquery.js"></script>
    <div class="site_logo"><a class="navbar-brand order-1 order-md-0 mr-auto p-0" href="{{ "/" | absURL }}"><img src="/images/navy-logo.png" height="" width="170px"></a></div>
    <div class="my_logo">

 <li class="nav-item d-none d-md-block"><a href="{{ .Site.Params.socialmedia.about | absURL }}" class="nav-link">About</a></li>
      <a class="btn btn-primary btn-lg mb-2 btn-sm my-auto btn_bg py-1 px-3 d-none d-md-block" href="{{ .Site.Params.socialmedia.download | absURL }}" role="button">Download</a></div>
      <!-- {{ partial "search/search-form.html" . }} -->
  </div>

<div class='menu_header'>
  <div class="container navbar py-0 px-4">
    <input class="menu-btn order-0" type="checkbox" id="menu-btn">
    <label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>
   <!--  <a class="navbar-brand order-1 order-md-0 mr-auto" href="{{ "/" | absURL }}"><img src="/images/logo-text-black.jpg" height="43px" width="150px"></a> -->
    <div class="collapse navbar-collapse order-4 order-md-1">
      <ul class="navbar-nav main-nav mr-auto order-5 order-md-2 main_menu">
        <!-- <li class="nav-item"><a href="{{ .Site.Params.socialmedia.blog | absURL }}" class="nav-link">Blog</a></li> -->

       <!--  <li class="nav-item"><a href="{{ .Site.Params.socialmedia.wiki | absURL }}" class="nav-link text-d-grey">Wiki</a></li> -->

           <li class="nav-item dropdown">
                <a class="nav-link text-d-grey" href="{{ .Site.Params.socialmedia.wiki | absURL }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Wiki <i class="las la-angle-down"></i> </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/wiki/faqs/">FAQ'S</a></li>
                    <li><a class="dropdown-item" href="/wiki/code-of-conduct/">Code of Conduct</a></li>
                    <li><a class="dropdown-item" href="/wiki/contribute/">Contributing</a></li>
                    <li><a class="dropdown-item" href="/wiki/cockpit/">Install / Uninstall Cockpit</a></li>
                    <li><a class="dropdown-item" href="/wiki/license/">License</a></li>
                     <li><a class="dropdown-item" href="/wiki/guides/">Guides</a></li>
                  

                </ul>
            </li>



        <!-- <li class="nav-item"><a href="{{ .Site.Params.socialmedia.bugs | absURL }}" class="nav-link">Bugs</a></li> -->
        <li class="nav-item "><a href="{{ .Site.Params.socialmedia.git | absURL }}" class="nav-link text-d-grey">Git Server</a></li>
        <li class="nav-item text-d-grey"><a href="{{ .Site.Params.socialmedia.mirrorlist | absURL }}" class="nav-link text-d-grey">Mirror List</a></li>
        <li class="nav-item mobile_show "><a href="{{ .Site.Params.socialmedia.about | absURL }}" class="nav-link text-d-grey">About</a></li>
        <li class="nav-item text-d-grey"><a href="{{ .Site.Params.socialmedia.sponsors| absURL }}" class="nav-link text-d-grey">Sponsors</a></li>
        <li class="nav-item text-d-grey"><a href="{{ .Site.Params.socialmedia.migrate| absURL }}" class="nav-link text-d-grey">Migrate</a>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link text-d-grey" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Services</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="nav-link">Service A</a></li>
                <li><a href="#" class="nav-link">Service B</a></li>

            </ul>
        </li> -->

      </ul>

  </div>
  </div>
 </div>
</header>
